openapi: 3.0.1
info:
  contact:
    email: apiteam@deel.com
    name: Deel API Team
  description: Deel REST API
  termsOfService: https://www.letsdeel.com/terms-of-service
  title: Deel REST API
  version: 1.25.0
externalDocs:
  description: Find out more about Deel APIs.
  url: https://developer.letsdeel.com
servers:
- description: Production server
  url: https://api.letsdeel.com/rest/v2
- description: Demo server
  url: https://api-sandbox.demo.deel.com/rest/v2
tags:
- description: End-points to retrieve paid invoices and receipts.
  externalDocs:
    description: See
    url: https://developer.deel.com
  name: Accounting
- description: End-points to retrieve custom fields.
  externalDocs:
    description: See
    url: https://developer.deel.com
  name: Custom Fields
- description: End-points to retrieve HRIS positions.
  externalDocs:
    description: See
    url: https://developer.deel.com
  name: Positions
- description: End-points to retrieve HRIS organization structure.
  externalDocs:
    description: See
    url: https://developer.deel.com
  name: Organization structure
- description: "End-points to retrieve Time-Offs related data like policies, timeOffs,\
    \ entitlements."
  externalDocs:
    description: See
    url: https://developer.deel.com
  name: Time Off
- description: End-points to retrieve Groups related data.
  externalDocs:
    description: See
    url: https://developer.deel.com
  name: Groups
- description: Employee of Record (EOR).
  externalDocs:
    description: See
    url: https://developer.letsdeel.com
  name: EOR
- description: Global Payroll
  externalDocs:
    description: See
    url: https://developer.letsdeel.com
  name: Global Payroll
- description: "The Contracts resource lets you create, amend and, retrieve Deel contracts."
  externalDocs:
    description: See
    url: https://developer.deel.com/rest/v2/#contracts
  name: Contractors
- description: "The Contracts resource lets you create, amend and, retrieve Deel contracts."
  externalDocs:
    description: See
    url: https://developer.deel.com/rest/v2/#contracts
  name: Contracts
- description: API end-points related to HRIS data.
  externalDocs:
    description: See
    url: https://developer.letdeel.com
  name: Hris
- description: "The Invoices resource lets you create, amend and retrieve invoices\
    \ related to Deel contracts."
  externalDocs:
    description: See
    url: https://developer.letsdeel.com
  name: Invoices
- description: The Legal Entities resource lets you manage your legal entities
  externalDocs:
    description: See
    url: https://developer.deel.com/rest/v2/#legalentities
  name: Legal Entities
- description: Helper end-points for choosing options for other operations
  externalDocs:
    description: See
    url: https://developer.deel.com/rest/v2/#lookups
  name: Lookups
- description: Helper end-points for managing milestones of Deel contracts
  externalDocs:
    description: See
    url: https://developer.deel.com/rest/v2/#milestones
  name: Milestones
- description: End-points to manage off-cycle payments for a given contract
  externalDocs:
    description: See
    url: https://developer.deel.com/rest/v2/#off-cycle-payments
  name: Off-cycle Payments
- description: Helper end-points for additional information about your organizations
  externalDocs:
    description: See
    url: https://developer.deel.com/rest/v2/#organizations
  name: Organizations
- description: End-points to manage tasks for a given contract
  externalDocs:
    description: See
    url: https://developer.deel.com/rest/v2/#tasks
  name: Tasks
- description: Helper end-points for additional information about your teams
  externalDocs:
    description: See
    url: https://developer.letsdeel.com
  name: Teams
- description: "The Invoices resource lets you create, amend and retrieve timesheets\
    \ of Deel contracts."
  externalDocs:
    description: See
    url: https://developer.letsdeel.com
  name: Timesheets
- description: API endpoints related to Time Tracking Shifts data.
  externalDocs:
    description: See
    url: https://developer.letsdeel.com
  name: Time Tracking Shifts
- description: API endpoints related to Time Tracking Rates data.
  externalDocs:
    description: See
    url: https://developer.letsdeel.com
  name: Time Tracking Rates
- description: API endpoints related to Candidates.
  externalDocs:
    description: See
    url: https://developer.letdeel.com
  name: Candidates
- description: API end-points related to Manager data.
  externalDocs:
    description: See
    url: https://developer.letdeel.com
  name: Managers
- description: API end-points related to People data.
  externalDocs:
    description: See
    url: https://developer.letdeel.com
  name: People
- description: API end-points related to Partner Managed data.
  externalDocs:
    description: See
    url: https://developer.letdeel.com
  name: Partner Managed
- description: API end-points related to Adjustments data.
  externalDocs:
    description: See
    url: https://developer.letdeel.com
  name: Adjustments
- description: End-points to generate temporary tokens to use with embedded Deel SDK
    components.
  externalDocs:
    description: See
    url: https://developer.letsdeel.com
  name: Token
- description: End-points to manage webhooks for Deel events. Webhooks are used to
    notify your application about events that happen in Deel.
  externalDocs:
    description: See
    url: https://developer.letsdeel.com
  name: Webhooks
- description: End-points to manage Carta data.
  externalDocs:
    description: See
    url: https://developer.letsdeel.com
  name: Carta
- description: API endpoints related to Worker Relations.
  externalDocs:
    description: See
    url: https://developer.letdeel.com\
  name: Worker Relations
paths:
  /invoices:
    get:
      description: |-
        Retrieve a list of paid invoices for your workforce.
         **Token scopes**: `accounting:read`
      operationId: getInvoiceList
      parameters:
      - description: Filter invoices issued on or after the specified date.
        example: 2022-05-24
        explode: true
        in: query
        name: issued_from_date
        required: false
        schema:
          type: string
        style: form
      - description: Filter invoices issued before the specified date.
        example: 2022-05-24
        explode: true
        in: query
        name: issued_to_date
        required: false
        schema:
          type: string
        style: form
      - description: "Filter by entity type (e.g., individual or company)."
        example:
        - individual
        - company
        explode: true
        in: query
        name: entities
        required: false
        schema:
          $ref: '#/components/schemas/getInvoiceList_entities_parameter'
        style: form
      - description: Number of records to retrieve per page.
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          maximum: 99
          minimum: 1
          type: number
        style: form
      - description: Index of the first record to return.
        example: 0
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          format: int64
          maximum: 999999999
          minimum: 0
          type: number
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getInvoiceList_200_response'
          description: Successful operation.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
      security:
      - deelToken: []
      - oauth2:
        - accounting:read
      summary: Retrieve invoices
      tags:
      - Accounting
      x-accepts:
      - application/json
  /invoices/deel:
    get:
      description: Retrieve a list of invoices related to Deel fees.
      operationId: getDeelInvoiceList
      parameters:
      - description: Return a page of results with given number of records; NOTE technically
          ALL query parameters are strings or array of strings
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          maximum: 99
          minimum: 1
          type: number
        style: form
      - description: Return a page of results after given index of row; NOTE technically
          ALL query parameters are strings or array of strings'
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          format: int64
          maximum: 999999999
          minimum: 0
          type: number
        style: form
      - description: Deel contract id.
        example: 37nex2x
        explode: true
        in: query
        name: contract_id
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeelInvoiceListContainer'
          description: Successful operation.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
      security:
      - deelToken: []
      - oauth2:
        - accounting:read
      summary: Retrieve Deel invoices
      tags:
      - Accounting
      x-accepts:
      - application/json
  /people/custom_fields:
    get:
      description: |-
        Fetch all custom fields associated with People records, offering additional personalized information.
         **Token scopes**: `people:read`
      operationId: getCustomFieldsFromPeople
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getCustomFieldsFromPeople_200_response'
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
      security:
      - deelToken: []
      - oauth2:
        - people:read
      summary: List all custom fields
      tags:
      - Custom Fields
      x-accepts:
      - application/json
  /people/{worker_id}/custom_fields:
    get:
      description: |-
        Retrieve custom fields for a worker
         **Token scopes**: `people:read`
      operationId: GetCustomFieldValuesFromWorker
      parameters:
      - description: Worker id.
        example: d290f1ee-6c54-4b01-90e6-d701748f0851
        explode: false
        in: path
        name: worker_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCustomFieldValuesFromWorker_200_response'
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
      security:
      - deelToken: []
      - oauth2:
        - people:read
      summary: Retrieve custom fields for a worker
      tags:
      - Custom Fields
      x-accepts:
      - application/json
    put:
      description: |-
        Update custom field value.
         **Token scopes**: `people:write`
      operationId: UpsertCustomFieldValueFromWorker
      parameters:
      - description: Worker id.
        example: d290f1ee-6c54-4b01-90e6-d701748f0851
        explode: false
        in: path
        name: worker_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertCustomFieldValueFromWorker_request'
        required: true
      responses:
        "200":
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "404":
          description: Not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
      security:
      - deelToken: []
      - oauth2:
        - people:write
      summary: Update custom field value
      tags:
      - Custom Fields
      x-content-type: application/json
      x-accepts:
      - application/json
  /people/{worker_id}/personal:
    get:
      description: |-
        Get worker's personal information by using identifier.
         **Token scopes**: `people:read`
      operationId: getPeoplePersonalInformationById
      parameters:
      - description: Unique identifier for a worker (External ID).
        example: "123456"
        explode: false
        in: path
        name: worker_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getPeoplePersonalInformationById_200_response'
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
      security:
      - deelToken: []
      - oauth2:
        - people:read
      summary: Get personal information by id
      tags:
      - People
      x-accepts:
      - application/json
    patch:
      description: |-
        Update worker's personal information.
         **Token scopes**: `people:write`
      operationId: updatePeoplePersonalInformationById
      parameters:
      - description: Unique identifier for a worker.
        example: d290f1ee-6c54-4b01-90e6-d701748f0851
        explode: false
        in: path
        name: worker_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updatePeoplePersonalInformationById_request'
      responses:
        "204":
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
      security:
      - deelToken: []
      - oauth2:
        - people:write
      summary: Update personal information
      tags:
      - People
      x-content-type: application/json
      x-accepts:
      - application/json
  /people/external/{worker_id}/personal:
    get:
      description: |-
        Get worker's personal information by using an external identifier.
         **Token scopes**: `people:read`
      operationId: getPeoplePersonalInformationByExternalId
      parameters:
      - description: Unique identifier for a worker (External ID).
        example: "123456"
        explode: false
        in: path
        name: worker_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getPeoplePersonalInformationByExternalId_200_response'
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
      security:
      - deelToken: []
      - oauth2:
        - people:read
      summary: Get personal information by external id
      tags:
      - People
      x-accepts:
      - application/json
    patch:
      description: |-
        Update worker's personal information by using an external identifier.
         **Token scopes**: `people:write`
      operationId: updatePeoplePersonalInformationByExternalId
      parameters:
      - description: Unique identifier for a worker (External ID).
        example: 96768afd-cdbd-4941-be60-dc70be36983d
        explode: false
        in: path
        name: worker_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updatePeoplePersonalInformationByExternalId_request'
      responses:
        "204":
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
      security:
      - deelToken: []
      - oauth2:
        - people:write
      summary: Update personal information by external id
      tags:
      - People
      x-content-type: application/json
      x-accepts:
      - application/json
  /contracts/custom_fields:
    get:
      description: |-
        Fetch all custom fields associated with contracts, providing additional data necessary for contract management.
         **Token scopes**: `contracts:read`
      operationId: getCustomFieldsFromContracts
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getCustomFieldsFromContracts_200_response'
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
      security:
      - deelToken: []
      - oauth2:
        - contracts:read
      summary: List all custom fields
      tags:
      - Custom Fields
      x-accepts:
      - application/json
  /contracts/{contract_id}/custom_fields:
    get:
      description: |-
        Retrieve custom fields for a contract.
         **Token scopes**: `contracts:read`
      operationId: GetCustomFieldValuesFromContract
      parameters:
      - description: Contract Id
        example: d290f1ee-6c54-4b01-90e6-d701748f0851
        explode: false
        in: path
        name: contract_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCustomFieldValuesFromWorker_200_response'
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "404":
          description: Custom fields Not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
      security:
      - deelToken: []
      - oauth2:
        - contracts:read
      summary: Retrieve custom fields for a contract
      tags:
      - Custom Fields
      x-accepts:
      - application/json
    put:
      description: |-
        Update custom field value.
         **Token scopes**: `contracts:write`
      operationId: UpsertCustomFieldValueFromContracts
      parameters:
      - description: Contract id.
        example: d290f1ee-6c54-4b01-90e6-d701748f0851
        explode: false
        in: path
        name: contract_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertCustomFieldValueFromContracts_request'
        required: true
      responses:
        "200":
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "404":
          description: Not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
      security:
      - deelToken: []
      - oauth2:
        - contracts:write
      summary: Update custom field value
      tags:
      - Custom Fields
      x-content-type: application/json
      x-accepts:
      - application/json
  /roles:
    get:
      description: |-
        Retrieve a list of roles assigned within the current organization. Each role has a unique identifier, name, scope, and optional HRIS structure ID. This helps determine the types of roles within the organization and their corresponding access levels.
         **Token scopes**: `organizations:read`
      operationId: GetOrganizationRoles
      responses:
        "200":
          content:
            application/json:
              schema:
                example:
                - id: 1
                  name: Organization Admin
                  scope: ORGANIZATION
                  hrisOrgStructureId: org-admin-01
                - id: 2
                  name: HR Manager
                  scope: ORGANIZATION
                  hrisOrgStructureId: null
                - id: 3
                  name: Team Lead
                  scope: TEAM
                  hrisOrgStructureId: team-lead-02
                items:
                  $ref: '#/components/schemas/GetOrganizationRoles_200_response_inner'
                type: array
          description: Successful retrieval of the organization roles.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrganizationRoles_400_response'
          description: Bad request. The request was malformed or missing required
            parameters.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrganizationRoles_401_response'
          description: Unauthorized. The request is missing authentication credentials
            or the credentials provided are invalid.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrganizationRoles_500_response'
          description: Internal server error. An error occurred while processing the
            request.
      security:
      - deelToken: []
      - oauth2:
        - organizations:read
      summary: Get the roles of the current organization.
      tags:
      - Organizations
      x-accepts:
      - application/json
    post:
      description: |-
        Create organization custom role.
         **Token scopes**: `organizations:write`
      operationId: CreateOrganizationRole
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrganizationRole_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateOrganizationRole_200_response'
          description: Successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
      security:
      - deelToken: []
      - oauth2:
        - organizations:write
      summary: Create organization custom role.
      tags:
      - Organizations
      x-content-type: application/json
      x-accepts:
      - application/json
  /equity/exercise:
    post:
      description: |-
        Create a request to exercise equity.
         **Token scopes**: `contracts:write`
      operationId: requestExerciseEquity
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/requestExerciseEquity_request'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/requestExerciseEquity_201_response'
          description: Successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
      security:
      - deelToken: []
      - oauth2:
        - contracts:write
      summary: Create a request to exercise equity.
      tags:
      - Contracts
      x-content-type: application/json
      x-accepts:
      - application/json
  /hris/organization_structures:
    get:
      description: |-
        Fetch all Org Structures from the Organization.
         **Token scopes**: `organizations:read`
      operationId: getAllOrgStructures
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getAllOrgStructures_200_response'
          description: Successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
      security:
      - deelToken: []
      - oauth2:
        - organizations:read
      summary: Fetch all Org Structures from the Organization.
      tags:
      - Organization structure
      x-accepts:
      - application/json
    post:
      description: |-
        Create a new HRIS Organization Structure.
         **Token scopes**: `organizations:write`
      operationId: createOrgStructure
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createOrgStructure_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createOrgStructure_200_response'
          description: Successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
      security:
      - deelToken: []
      - oauth2:
        - organizations:write
      summary: Create a new HRIS Organization Structure.
      tags:
      - Organization structure
      x-content-type: application/json
      x-accepts:
      - application/json
  /hris/organization_structures/{hrisOrgStr_id}:
    delete:
      description: |-
        Delete an Org Structure from the Organization
         **Token scopes**: `organizations:write`
      operationId: deleteOrgStructure
      parameters:
      - description: Org Structure
        example: 5f7b1b1b-1b1b-1b1b-1b1b-1b1b1b1b1b1b
        explode: false
        in: path
        name: hrisOrgStr_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json: {}
          description: Successfully deleted
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
      security:
      - deelToken: []
      - oauth2:
        - organizations:write
      summary: Delete an Org Structure from the Organization
      tags:
      - Organization structure
      x-accepts:
      - application/json
    get:
      description: |-
        undefined
         **Token scopes**: `organizations:read`
      operationId: getOrgStructure
      parameters:
      - description: HRIS Organization Structure ID
        example: d290f1ee-6c54-4b01-90e6-d701748f0851
        explode: false
        in: path
        name: hrisOrgStr_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getOrgStructure_200_response'
          description: Successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
      security:
      - deelToken: []
      - oauth2:
        - organizations:read
      summary: Fetch an Org Structure from the Organization
      tags:
      - Organization structure
      x-accepts:
      - application/json
    patch:
      description: |-
        Update an existing HRIS Org Structure
         **Token scopes**: `organizations:write`
      operationId: updateOrgStructure
      parameters:
      - description: Org Structure
        example: 1131a5a9-1fbb-4b58-87f6-d8798e6f0b9e
        explode: false
        in: path
        name: hrisOrgStr_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateOrgStructure_request'
        required: true
      responses:
        "200":
          content:
            application/json: {}
          description: Successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
      security:
      - deelToken: []
      - oauth2:
        - organizations:write
      summary: Update an existing HRIS Org Structure
      tags:
      - Organization structure
      x-content-type: application/json
      x-accepts:
      - application/json
  /hris/organization_structures/external/{external_id}:
    delete:
      description: |-
        undefined
         **Token scopes**: `organizations:write`
      operationId: deleteOrgStructureByExternalId
      parameters:
      - description: External ID
        example: "123456"
        explode: false
        in: path
        name: external_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json: {}
          description: Successfully deleted
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
      security:
      - deelToken: []
      - oauth2:
        - organizations:write
      summary: Delete an Org Structure from the Organization by external ID
      tags:
      - Organization structure
      x-accepts:
      - application/json
    get:
      description: |-
        undefined
         **Token scopes**: `organizations:read`
      operationId: getOrgStructureByExternalId
      parameters:
      - description: External ID
        example: rkkej3
        explode: false
        in: path
        name: external_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getOrgStructureByExternalId_200_response'
          description: Successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
      security:
      - deelToken: []
      - oauth2:
        - organizations:read
      summary: Fetch an Org Structure from the Organization
      tags:
      - Organization structure
      x-accepts:
      - application/json
    patch:
      description: |-
        undefined
         **Token scopes**: `organizations:write`
      operationId: updateOrgStructureByExternalId
      parameters:
      - description: External ID
        example: "123456"
        explode: false
        in: path
        name: external_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateOrgStructureByExternalId_request'
        required: true
      responses:
        "200":
          content:
            application/json: {}
          description: Successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
      security:
      - deelToken: []
      - oauth2:
        - organizations:write
      summary: Update an existing HRIS Org Structure by external ID
      tags:
      - Organization structure
      x-content-type: application/json
      x-accepts:
      - application/json
  /hris/positions/apply_changes:
    post:
      description: |-
        Apply add, edit, and delete operations to profiles.
         **Token scopes**: `profile:write`
      operationId: applyChangesPositions
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/applyChangesPositions_request'
        required: true
      responses:
        "204":
          description: Successful operation
        "400":
          description: Bad Request. Invalid input parameters.
        "401":
          description: Unauthorized. Invalid or expired token.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "500":
          description: Internal Server Error. Could not process the request.
      security:
      - deelToken: []
      - oauth2:
        - profile:write
      summary: Apply changes to positions.
      tags:
      - Positions
      x-content-type: application/json
      x-accepts:
      - application/json
  /reports/detailed-payments:
    get:
      description: Retrieve the detailed payment report in JSON format.
      operationId: getDetailedPaymentsReport
      parameters:
      - description: Filtered results will include records created on or after the
          provided date.
        explode: true
        in: query
        name: from_date
        required: true
        schema:
          type: string
        style: form
      - description: Filtered results will include records created before the provided
          date.
        explode: true
        in: query
        name: to_date
        required: true
        schema:
          type: string
        style: form
      - description: Return a page of results with given number of records; NOTE technically
          ALL query parameters are strings or array of strings
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          maximum: 99
          minimum: 1
          type: number
        style: form
      - description: Return a page of results after given index of row; NOTE technically
          ALL query parameters are strings or array of strings'
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          format: int64
          maximum: 999999999
          minimum: 0
          type: number
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentsDetailedReportContainer'
          description: Successful response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
      security:
      - deelToken: []
      - oauth2:
        - accounting:read
      summary: Detailed payments report
      tags:
      - Reports
      x-accepts:
      - application/json
  /time_offs/profile/{hris_profile_id}/entitlements:
    get:
      description: |-
        List time-off entitlements.
         **Token scopes**: `time-off:read`
      operationId: getProfileEntitlements
      parameters:
      - description: HRIS profile ID
        example: d290f1ee-6c54-4b01-90e6-d701748f0851
        explode: false
        in: path
        name: hris_profile_id
        required: true
        schema:
          format: uuid
          maxItems: 100
          minItems: 1
          type: string
        style: simple
      - explode: true
        in: query
        name: policy_type_name
        required: false
        schema:
          description: Policy type name
          enum:
          - Moving leave
          - Adoption leave
          - Personal leave
          - Parental leave
          - Military leave
          - Childbirth leave
          - Study leave
          - Sick leave
          - Bereavement leave
          - Family & domestic violence leave
          - Marriage/wedding leave
          - Blood donation leave
          - Volunteer leave
          - Vacation
          - Doctor's appointment leave
          - Maternity leave
          - Hajj leave
          - Paternity leave
          - Civic/public duty leave
          - Childcare leave
          - Unpaid leave
          - Paid leave
          - Other leave
          - Disability leave
          - Pregnancy leave
          - RTT
          - Regional holiday
          - Breastfeeding leave
          - Advanced vacation
          example: Moving leave
          maxLength: 255
          nullable: true
          type: string
        style: form
      - description: Tracking period date
        example: 2022-01-01
        explode: true
        in: query
        name: tracking_period_date
        required: false
        schema:
          format: date
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getProfileEntitlements_200_response'
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
      security:
      - deelToken: []
      - oauth2:
        - time-off:read
      summary: Get Profile Entitlements
      tags:
      - Time Off
      x-accepts:
      - application/json
  /time_offs/profile/{hris_profile_id}/policies:
    get:
      description: |-
        List policies
         **Token scopes**: `time-off:read`
      operationId: getPoliciesForProfile
      parameters:
      - description: hrisProfileId id.
        example: f7b3b3b3-3b3b-3b3b-3b3b-3b3b3b3b3b3b
        explode: false
        in: path
        name: hris_profile_id
        required: true
        schema:
          type: string
        style: simple
      - description: Policy type name.
        example: Adoption leave
        explode: true
        in: query
        name: policy_type_name
        required: false
        schema:
          enum:
          - Moving leave
          - Adoption leave
          - Personal leave
          - Parental leave
          - Military leave
          - Childbirth leave
          - Study leave
          - Sick leave
          - Bereavement leave
          - Family & domestic violence leave
          - Marriage/wedding leave
          - Blood donation leave
          - Volunteer leave
          - Vacation
          - Doctor's appointment leave
          - Maternity leave
          - Hajj leave
          - Paternity leave
          - Civic/public duty leave
          - Childcare leave
          - Unpaid leave
          - Paid leave
          - Other leave
          - Disability leave
          - Pregnancy leave
          - RTT
          - Regional holiday
          - Breastfeeding leave
          - Advanced vacation
          type: string
        style: form
      - description: policy type id
        example: f7b3b3b3-3b3b-3b3b-3b3b-3b3b3b3b3b3b
        explode: true
        in: query
        name: policy_type_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getPoliciesForProfile_200_response'
          description: Successful operation.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
      security:
      - deelToken: []
      - oauth2:
        - time-off:read
      summary: List policies
      tags:
      - Time Off
      x-accepts:
      - application/json
  /time_offs/profile/{hris_profile_id}:
    get:
      description: |-
        List time-off requests
         **Token scopes**: `time-off:read`
      operationId: getTimeOffsQuery
      parameters:
      - description: HRIS profile id
        example: d290f1ee-6c54-4b01-90e6-d701748f0851
        explode: false
        in: path
        name: hris_profile_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Organization id
        example: d290f1ee-6c54-4b01-90e6-d701748f0851
        explode: true
        in: query
        name: organization_id
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Time off status
        example:
        - REQUESTED
        explode: true
        in: query
        name: status
        required: false
        schema:
          items:
            enum:
            - REQUESTED
            - APPROVED
            - REJECTED
            - USED
            - CANCELED
            type: string
          type: array
        style: form
      - description: Start date of time off
        example: 2022-01-01T00:00:00Z
        explode: true
        in: query
        name: start_date
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: End date of time off
        example: 2022-01-01T00:00:00Z
        explode: true
        in: query
        name: end_date
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Approval start date
        example: 2022-01-01T00:00:00Z
        explode: true
        in: query
        name: approval_start_date
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Approval end date
        example: 2022-01-01T00:00:00Z
        explode: true
        in: query
        name: approval_end_date
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Updated start date
        example: 2022-01-01T00:00:00Z
        explode: true
        in: query
        name: updated_start_date
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Updated end date
        example: 2022-01-01T00:00:00Z
        explode: true
        in: query
        name: updated_end_date
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Page size
        example: 10
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          maximum: 200
          minimum: 5
          type: integer
        style: form
      - description: Policy types
        example:
        - d290f1ee-6c54-4b01-90e6-d701748f0851
        explode: true
        in: query
        name: policy_types
        required: false
        schema:
          items:
            format: uuid
            type: string
          type: array
        style: form
      - description: Next page
        example: d290f1ee-6c54-4b01-90e6-d701748f0851
        explode: true
        in: query
        name: next
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getTimeOffsQuery_200_response'
          description: Successful operation time offs returned
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
      security:
      - deelToken: []
      - oauth2:
        - time-off:read
      summary: List time-off requests
      tags:
      - Time Off
      x-accepts:
      - application/json
  /time_offs:
    post:
      description: |-
        Create time-off request
         **Token scopes**: `time-off:write`
      operationId: createTimeOff
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createTimeOff_request'
        description: The time off request data
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createTimeOff_201_response'
          description: Time off created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
      security:
      - oauth2:
        - time-off:write
      summary: Create time-off request
      tags:
      - Time Off
      x-content-type: application/json
      x-accepts:
      - application/json
  /time_tracking/shifts:
    get:
      description: |-
        Retrieve a paginated list of shifts with details such as start and end times, breaks, metadata, and summary metrics. Supports pagination through `limit` and `offset` query parameters.
         **Token scopes**: `time-tracking:read`
      operationId: getShifts
      parameters:
      - description: Maximum number of records to return.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          pattern: "^[0-9]+$"
          type: string
        style: form
      - description: Offset/index of record for the next page of records to return.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          pattern: "^[0-9]+$"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                success:
                  summary: Example successful response
                  value:
                    data:
                    - summary:
                        total_break_hours: 1
                        payable_break_hours: 0.5
                        total_payable_hours: 7.5
                        shift_duration_hours: 8
                        shift_rate_external_id: rate1234
                      created_at: 2024-10-02T05:09:35.691Z
                      updated_at: 2024-10-02T05:09:35.691Z
                      contract_id: "1234"
                      description: Sample shift description
                      external_id: shift_123456r
                      date_of_work: 2023-10-01
                    page:
                      offset: 0
                      total_rows: 6
                      items_per_page: 200
              schema:
                $ref: '#/components/schemas/getShifts_200_response'
          description: Successful response with paginated shifts.
        "400":
          content:
            application/json:
              examples:
                error:
                  summary: Example error response
                  value:
                    error:
                      message: Invalid pagination parameters
          description: Invalid request parameters.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
      security:
      - deelToken: []
      - oauth2:
        - time-tracking:read
      summary: List of shifts
      tags:
      - Time Tracking Shifts
      x-accepts:
      - application/json
    post:
      description: |-
        Create shifts
         **Token scopes**: `time-tracking:write`
      operationId: createShifts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createShifts_request'
        description: Request body to create time tracking shifts.
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createShifts_201_response'
          description: Successful operation.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
      security:
      - deelToken: []
      - oauth2:
        - time-tracking:write
      summary: Create shifts
      tags:
      - Time Tracking Shifts
      x-content-type: application/json
      x-accepts:
      - application/json
  /time_tracking/shifts/{external_id}:
    delete:
      description: |-
        This endpoint deletes a shift using its external ID. Once deleted, the shift will no longer be retrievable or editable.
         **Token scopes**: `time-tracking:write`
      operationId: deleteShiftExternalId
      parameters:
      - description: The unique external identifier of the shift to be deleted.
        example: shift123-external-id
        explode: false
        in: path
        name: external_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Shift deleted successfully. No content is returned.
        "400":
          content:
            application/json:
              example:
                error: Invalid external ID format.
          description: Invalid external ID provided or the request is malformed.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "404":
          content:
            application/json:
              example:
                error: Shift not found.
          description: Shift with the given external ID was not found.
        "500":
          content:
            application/json:
              example:
                error: An unexpected error occurred. Please try again later.
          description: Internal server error while attempting to delete the shift.
      security:
      - deelToken: []
      - oauth2:
        - time-tracking:write
      summary: Delete a Shift by External ID
      tags:
      - Time Tracking Shifts
      x-accepts:
      - application/json
    get:
      description: |-
        Retrieve details of a specific shift by external ID.
         **Token scopes**: `time-tracking:read`
      operationId: getShiftDetails
      parameters:
      - explode: false
        in: path
        name: external_id
        required: true
        schema:
          description: Unique identifier of the shift to retrieve.
          example: shift_1234567dewdwe
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getShiftDetails_200_response'
          description: Shift details retrieved successfully
        "400":
          content:
            application/json:
              example:
                error:
                  message: Invalid external ID format
              schema:
                $ref: '#/components/schemas/getShiftDetails_400_response'
          description: Invalid request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
      security:
      - deelToken: []
      - oauth2:
        - time-tracking:read
      summary: Get shift details
      tags:
      - Time Tracking Shifts
      x-accepts:
      - application/json
    patch:
      description: |-
        Update specific fields of an existing shift by its unique `external_id`. This includes shift metadata (start and end times, breaks, and approval dates) and associated summary details.
         **Token scopes**: `time-tracking:write`
      operationId: updateShift
      parameters:
      - example: 12345678g
        explode: false
        in: path
        name: external_id
        required: true
        schema:
          description: Unique identifier of the shift to be updated.
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateShift_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/updateShift_200_response'
          description: Shift updated successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
      security:
      - deelToken: []
      - oauth2:
        - time-tracking:write
      summary: Update a shift
      tags:
      - Time Tracking Shifts
      x-content-type: application/json
      x-accepts:
      - application/json
  /time_tracking/shift_rates:
    get:
      description: |-
        Retrieve a paginated list of shift rates, including details such as rate name, type, value, and timestamps. Pagination parameters can be used to control the size and position of the result set.
         **Token scopes**: `time-tracking:read`
      operationId: getShiftRates
      parameters:
      - description: "The maximum number of records to return per page. For example,\
          \ '10' to return up to 10 records."
        explode: true
        in: query
        name: limit
        required: false
        schema:
          pattern: "^[0-9]+$"
          type: string
        style: form
      - description: "The starting index for the records to retrieve. For example,\
          \ '0' for the first page or '10' for the second page when limit=10."
        explode: true
        in: query
        name: offset
        required: false
        schema:
          pattern: "^[0-9]+$"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - name: Weekend Bonus
                  type: FLAT_RATE
                  value: 150
                  created_at: 2024-11-15T05:51:18.000Z
                  updated_at: 2024-11-20T12:34:56.000Z
                  external_id: rate-5678
                page:
                  offset: 0
                  total_rows: 100
                  items_per_page: 10
              schema:
                $ref: '#/components/schemas/getShiftRates_200_response'
          description: Paginated list of shift rates retrieved successfully.
        "400":
          content:
            application/json:
              example:
                error: "Invalid query parameter: limit must be a positive number."
          description: "Invalid query parameters provided (e.g., non-numeric limit\
            \ or offset)."
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "500":
          content:
            application/json:
              example:
                error: An unexpected error occurred. Please try again later.
          description: Internal server error encountered while retrieving shift rates.
      security:
      - deelToken: []
      - oauth2:
        - time-tracking:read
      summary: Retrieve a Paginated List of Shift Rates
      tags:
      - Time Tracking Rates
      x-accepts:
      - application/json
    post:
      description: |-
        Create a new shift rate with the specified attributes such as name, type, value, and a unique external identifier.
         **Token scopes**: `time-tracking:write`
      operationId: createShiftRate
      requestBody:
        content:
          application/json:
            example:
              data:
                name: Night Shift Bonus
                type: MULTIPLIER_PERCENTAGE
                value: 80.2
                external_id: rate-unique-id-1234
            schema:
              $ref: '#/components/schemas/createShiftRate_request'
        description: Details of the shift rate to create.
      responses:
        "201":
          content:
            application/json:
              example:
                data:
                  name: Night Shift Bonus
                  type: MULTIPLIER_PERCENTAGE
                  value: 80.2
                  external_id: rate-unique-id-1234
              schema:
                $ref: '#/components/schemas/createShiftRate_201_response'
          description: Shift rate created successfully.
        "400":
          content:
            application/json:
              example:
                error: The provided 'value' must be a positive number.
          description: Invalid input provided for the shift rate creation.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "409":
          content:
            application/json:
              example:
                error: A shift rate with the provided external ID already exists.
          description: "Conflict occurred, likely due to a duplicate external ID."
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "500":
          content:
            application/json:
              example:
                error: An unexpected error occurred. Please try again later.
          description: Internal server error encountered while creating the shift
            rate.
      security:
      - deelToken: []
      - oauth2:
        - time-tracking:write
      summary: Create a New Shift Rate
      tags:
      - Time Tracking Rates
      x-content-type: application/json
      x-accepts:
      - application/json
  /time_tracking/shift_rates/{external_id}:
    delete:
      description: |-
        Delete a ShiftRate by external ID
         **Token scopes**: `time-tracking:write`
      operationId: deleteShiftRateExternalId
      parameters:
      - description: external ID
        explode: false
        in: path
        name: external_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Successfully deleted
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
      security:
      - deelToken: []
      - oauth2:
        - time-tracking:write
      summary: Delete a ShiftRate by external ID
      tags:
      - Time Tracking Rates
      x-accepts:
      - application/json
    get:
      description: |-
        Retrieve details of a specific shift rate using its external ID. The response includes information such as the name, type, value, and unique identifier of the shift rate.
         **Token scopes**: `time-tracking:read`
      operationId: getShiftRate
      parameters:
      - description: The unique external identifier of the shift rate to retrieve.
        explode: false
        in: path
        name: external_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  name: Night Shift Bonus
                  type: MULTIPLIER_PERCENTAGE
                  value: 80.2
                  external_id: rate-1234
              schema:
                $ref: '#/components/schemas/getShiftRate_200_response'
          description: Shift rate retrieved successfully.
        "400":
          content:
            application/json:
              example:
                error: Invalid external ID format.
          description: Invalid external ID provided or the request is malformed.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "404":
          content:
            application/json:
              example:
                error: Shift rate not found.
          description: Shift rate with the given external ID not found.
        "500":
          content:
            application/json:
              example:
                error: An unexpected error occurred. Please try again later.
          description: Internal server error occurred while retrieving the shift rate.
      security:
      - deelToken: []
      - oauth2:
        - time-tracking:read
      summary: Retrieve a Shift Rate by External ID
      tags:
      - Time Tracking Rates
      x-accepts:
      - application/json
    patch:
      description: |-
        Update specific fields of an existing shift rate.
         **Token scopes**: `time-tracking:write`
      operationId: updateShiftRate
      parameters:
      - example: 12345678g
        explode: false
        in: path
        name: external_id
        required: true
        schema:
          description: Unique identifier of the shift rate to be updated.
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateShiftRate_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/updateShiftRate_200_response'
          description: Shift rate updated successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/updateShiftRate_400_response'
          description: Invalid request payload
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
      security:
      - deelToken: []
      - oauth2:
        - time-tracking:write
      summary: Update a shift rate
      tags:
      - Time Tracking Rates
      x-content-type: application/json
      x-accepts:
      - application/json
  /groups:
    get:
      description: |-
        List all the groups in your organization.
         **Token scopes**: `groups:read`
      operationId: getGroups
      parameters:
      - description: The maximum number of groups to return (between 1 and 100)
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Sort the results in ascending (ASC) or descending (DESC) order
          based on the group name.
        explode: true
        in: query
        name: sort_order
        required: false
        schema:
          default: ASC
          enum:
          - ASC
          - DESC
          type: string
        style: form
      - description: The encoded cursor for paginated results. This is an opaque string
          that allows fetching the next set of results.
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Include archived groups (soft deleted records). Defaults to `true`.
        explode: true
        in: query
        name: include_archived_groups
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: Extra information about the group
        explode: true
        in: query
        name: external_metadata
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getGroups_200_response'
          description: A list of groups in the organization.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getGroups_400_response'
          description: Invalid request parameters.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
      security:
      - oauth2:
        - groups:read
      summary: Return list of groups
      tags:
      - Groups
      x-accepts:
      - application/json
    post:
      description: |-
        Create a new group within your organization.
         **Token scopes**: `groups:read`, `groups:write`
      operationId: createGroup
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createGroup_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createGroup_200_response'
          description: Group created successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/updateShiftRate_400_response'
          description: Invalid request payload
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
      security:
      - oauth2:
        - groups:read
        - groups:write
      summary: Create a group
      tags:
      - Groups
      x-content-type: application/json
      x-accepts:
      - application/json
  /groups/{id}:
    delete:
      description: |-
        Archive an existing group.
         **Token scopes**: `groups:write`
      operationId: deleteGroup
      parameters:
      - example: 9e12eb6b-90ea-4543-8ff1-7789e7b8db7e
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: Unique identifier of the group to be archived.
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteGroup_200_response'
          description: Group archived successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteGroup_400_response'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteGroup_404_response'
          description: Group not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
      security:
      - oauth2:
        - groups:write
      summary: Delete a group
      tags:
      - Groups
      x-accepts:
      - application/json
    patch:
      description: |-
        Edit the details of an existing group.
         **Token scopes**: `groups:read`, `groups:write`
      operationId: editGroup
      parameters:
      - example: 9e12eb6b-90ea-4543-8ff1-7789e7b8db7e
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: Unique identifier of the group to be edited.
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/editGroup_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/editGroup_200_response'
          description: Group updated successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/updateShiftRate_400_response'
          description: Invalid request payload
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorContainer'
          description: Operation failed.
      security:
      - oauth2:
        - groups:read
        - groups:write
      summary: Edit a group
      tags:
      - Groups
      x-content-type: application/json
      x-accepts:
      - application/json
  /time_offs/{time_off_id}:
    delete:
      description: |-
        Delete time-off request
         **Token scopes**: `time-off:write`
      operationId: deleteTimeOff
      parameters:
      - description: Time off request id
        example: 123e4567-e89b-12d3-a456-426614174000
        explode: false
        in: path
        name: time_off_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: time off deleted
        "400":
          content:
[...]
